.root {
  --columns: 1fr;
  display: grid;
  grid-template-columns: var(--columns);
  gap: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 525px) {
  .root {
    --columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .root {
    --columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .root {
    --columns: 1fr 1fr 1fr 1fr;
  }
}
