/* Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--dark);
  background-color: var(--light);
}

.card,
.button,
.header {
  transition: background-color 0.25s ease-in-out;
}

/* Card Header */
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.card:not(.card_back) .header {
  background-color: var(--gray-light);
}

.header > div {
  line-height: 1;
}

.header strong {
  display: block;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

/* Card Body */
.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  max-height: 375px;
  overflow-y: auto;
}

.body > div {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

/* Card Image */
.image_wrapper {
  display: grid;
  width: 8rem;
  height: 8rem;
  background-color: var(--black);
  padding: 1rem;
  border-radius: 50%;
  margin: 1rem auto 0.5rem;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
}

.image_wrapper > img {
  max-width: 100%;
  max-height: 100%;
}

/* Card Button */
.button {
  appearance: none;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  cursor: pointer;
  background-color: var(--gray-light);
  color: var(--dark);
  border-top: 0.25rem solid var(--black);
}

.status_success {
  background-color: var(--success) !important;
}

.status_failure {
  background-color: var(--danger) !important;
}

/* Payload */
.payload {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--gray-light);
}

.payload > div {
  flex: 1;
  line-height: 1;
}

.payload strong {
  display: block;
  text-transform: uppercase;
  text-overflow: ellipsis;
}
