.grid {
  --grid-max-w: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--grid-max-w));
  /* grid-gap: 1rem; */
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  /* margin-top: 4rem; */
  background-color: #f5f5f5;
  color: #030303;
  /* border-radius: 0.5rem; */
}

.card_img {
  display: inline-block;
  border-radius: 50%;
  margin: 1rem auto 0; /* -4rem auto 0; */
}

.card_body {
  flex: 1;
  padding: 1rem;
  text-align: center;
}
.card_body > h3 {
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.card_footer {
  position: relative;
  padding: 1rem;
  text-align: center;
  /* border-radius: 0 0 0.5rem 0.5rem; */
}

.card_footer > strong {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
}

.status_success {
  background-color: #4caf50;
  color: #f5f5f5;
}

.status_failure {
  background-color: #f44336;
  color: #f5f5f5;
}

/* MEDIA QUERIES */
@media (min-width: 476px) {
  .grid {
    --grid-max-w: 50%;
  }
}

@media (min-width: 768px) {
  .grid {
    --grid-max-w: 33.33%;
  }
}
